defaults: &defaults
  logging: false
  connection_timeout: 5
  host: localhost
  port: 5672
  exchange: "agrian.topic"
  heartbeat: 1
  user: guest
  pass: guest

test:
  <<: *defaults
  vhost: "/agrian-test"
  exchange: "agrian-test.topic"

development:
  <<: *defaults
  vhost: "/agrian-development"
  exchange: "agrian-development.topic"
